/* Google Font self-host stuff begin */

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('/fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype-variations'), /* Support variable weight, if possible */
         url('/fonts/roboto-slab-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/roboto-slab-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Google Font self-host stuff end */

:root {
    --gray0: #f8f8f8;
    --gray1: #eaeaea;
    --gray2: #cfcfcf;
    --gray3: #a6a6a6;
    --gray4: #545454;
    --gray5: #292a2c;
    --gray6: #242526;

    --page-maxwidth: 1080px;

    --code-font: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    --serif-font: 'Roboto Slab', serif;
    --sans-font: 'Roboto',-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

    /* Default dark theme */
    color-scheme: dark;
    --bg-nav: var(--gray6);
    --bg-content: var(--gray5);
    --text: var(--gray1);

    --scrollbar-gutter-width: 0px;
}

.light-theme {
    color-scheme: light;
    --bg-nav: var(--gray0);
    --bg-content: var(--gray1);
    --text: var(--gray6);
}

body {
    text-rendering: optimizeLegibility;

    font-family: var(--sans-font);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    background: var(--bg-content);

    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: underline;
}

abbr[title] {
    text-decoration: underline dotted;
    position: relative; /* Allow ::after to position itself relative to this size */
}

abbr[title]:hover::after,
abbr[title]:focus::after {
    content: attr(title);
    position: absolute;
    background-color: var(--bg-nav);
    border: 1px solid var(--text);
    padding: 0 0.2em;
    left: 0;
    top: 100%;
}

code {
    font-family: var(--code-font);
}

pre.cpp {
    border-left: 1px solid currentColor;
    padding: 0.5em 0 0.5em 1em;
    background-color: rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

kbd {
    font-family: var(--code-font);
    color: var(--bg-content);
    background-color: var(--text);
    border-radius: 0.2em;
    display: inline-block;
    font-weight: normal;
    line-height: 1;
    padding: 0.3em;
    white-space: nowrap;
}

/* Special stuff for index.html */
.real-name-title {
    font-size: 3.5rem;
    margin: 0 0 1rem 0;
    font-weight: normal;
    line-height: normal;
}

h1, h2, h3 {
    font-family: var(--serif-font);
    font-weight: normal;
}

/* Override user-agent stylings for h1 within articles or sections */
h1 {
    font-size: 2em;
}

ul.skills-list {
    display: inline-block;
    text-align: left;
    margin: 0;
}

.social-layout {
    margin: 1rem;
}

.social-layout > *:not(:first-child) {
    margin-left: 0.5rem;
}

@keyframes blinkingText {
    0%{visibility: visible;}
    49%{visibility: visible;}
    50%{visibility: hidden;}
    100%{visibility: hidden;}
}

#prompt-input {
    caret-color: transparent;
    cursor: default;
}

#prompt-input:focus {
    /* Some browsers (Chromium) show outlines for it */
    outline: none;
}

#prompt-input::before {
    content: '$ ';
}

#prompt-input::after {
    content: "\00a0"; /* No-break space */
}

#prompt-input:focus-within::after {
    content: '_';
    animation: blinkingText 1.1s infinite;
}

/* END Special stuff for index.html */

.layout-grid {
    display: grid;

    grid-template-areas:
        "header"
        "content"
        "footer";

    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    margin: 0;
    padding: 0;
    min-height: 100vh; /* Prevent footer not being at the bottom of the window for short webpages */
    overflow-x: hidden;

    --scrollbar-gutter-width: calc(100vw - 100%)
}

article {
    margin: 0 auto;
    padding: 0 1em;
    max-width: var(--page-maxwidth);
}

header {
    grid-area: header;

    height: 3em;
    max-width: 100%;
}

header, footer {
    background-color: var(--bg-nav);
    padding: 0.5em 1em;
}

/* --page-maxwidth */
/* Content jumping because of the scrollbar is only an issue when
   page contents are larger than the page-maxwidth */
@media screen and (min-width: 1080px) {
    header, footer {
        padding-left: min(1em, var(--scrollbar-gutter-width));
    }
}

.header-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: var(--page-maxwidth);
    height: 100%;
    margin: 0 auto;
}

.header-left {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 0; /* TODO: Better fix when rewritten, this fixes the left icons not being centered vertically */
}

.header-left > * {
    display: inline-block;
}

.header-left > :not(:last-child) {
    border-right: 1px solid;
    padding-right: 1em;
}

.header-left > :not(:first-child) {
    padding-left: 1em;
}

footer {
    grid-area: footer;
}

.footer-inner {
    width: 100%;
    height: 100%;
    max-width: var(--page-maxwidth);
    margin: 0 auto;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

nav.site-nav {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    display: flex;
    justify-content: flex-end; /* Align list content to the right */
}

nav.site-nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto; /* Allow horizontal scrolling of nav content */
    overflow-y: hidden;
}

nav.site-nav > ul > li > a {
    text-decoration: none;
    color: var(--text);
    display: block;
    text-align: center;
    padding: 5rem 1rem; /* Give plenty of padding so the touch target is as big as possible vertically */
}

main {
    grid-area: content;
    background-color: var(--bg-content);
    width: 100%;
}

#theme-checkbox[type="checkbox"] {
    opacity: 0; /* display: none would disable keyboard tab focusing */
}

#theme-checkbox[type="checkbox"] ~ label::before {
    display: inline-block;
    width: 1em;
    text-align: center;
    margin-right: 0.5ch;
}

#theme-checkbox[type="checkbox"] ~ label::before {
    content: "◑";
}

/* Add a focus outline to the fake checkbox substitute for a11y */
#theme-checkbox[type="checkbox"]:focus-visible + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

label[for=theme-checkbox] {
    user-select: none;
    -webkit-user-select: none;
}

.long-equation {
    overflow-x: auto;
    overflow-y: hidden;
}

/* From https://css-tricks.com/fluid-width-video/ */
.videoWrapper {
    position: relative;

    /* Default of 16:9, but can be overriden with style="--aspect-ratio: 4/3;" */
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
